* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:focus {
    outline: 0
}

html,
body,
.wrapper {
    height: 100%
}

img {
    border: none;
    display: block
}

ol,
ul {
    list-style: none
}

iframe {
    border: none !important;
    width: 0 !important;
    height: 0 !important;
    display: none
}

a {
    text-decoration: none;
    cursor: pointer !important
}

a:focus {
    color: inherit
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    position: relative
}

body {
    font-family: 'Lato', Arial, sans-serif;
    color: #1a2734;
    line-height: 1.3;
    font-size: 1.8rem;
    min-width: 320px;
    min-height: 460px
}

.wrapper {
    position: relative;
    padding: 2rem 0;
    background: #0A050C url(bg-web2.jpg) no-repeat left top / cover
}

.center {
    max-width: 1080px;
    padding: 0 2rem;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.step-block {
    width: 470px
}

.step-confirm-header {
    font-size: 2.6rem;
    padding: 1rem 0;
    background: #1a2734;
    color: #fff;
    border-radius: 5px 5px 0 0
}

.step-confirm-content {
    background: #129fdd;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 0 0 5px 5px
}

.step-item {
    display: block;
    text-align: center
}

.buttons-block {
    display: flex;
    justify-content: space-between
}

.step-btn {
    flex: 1;
    margin: 0 1rem;
    padding: 1.4rem 1rem;
    cursor: pointer;
    transition: all 0.2s linear;
    font-size: 2.5rem;
    background: #ffd50a;
    border-radius: 5px
}

.step-btn:hover {
    background: #FF9400
}

@media (max-width:768px) {
    html {
        font-size: 46%
    }
    .wrapper {
        background: #C5CED7 url(bg-mob.jpg) no-repeat center top / cover
    }
    .center {
        justify-content: center
    }
    @media (max-width:320px) {
        html {
            font-size: 40%
        }
    }
}