<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <title>تهانينا</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="lander" content="prizewheel-fb">
    <meta name="description" content="prizewheel-fb">
    <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
    <meta name="googlebot" content="noindex, nofollow, noarchive">
    <meta name="referrer" content="no-referrer">
    <meta name="google" content="notranslate">
    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <meta name="alert-message" content="نحنآسفون\n\nالرجاء إعادة المحاولة. لديك فرصة واحدة إضافية!">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="landers/prizewheel-fb/assets/app.css" type="text/css" rel="stylesheet">
    <script>
        function getURLParameter(e) {
            let t = new URLSearchParams(window.location.search),
                n = t.get(e);
            if (null === n) {
                let l = new URLSearchParams(window.location.hash.substring(1));
                n = l.get(e)
            }
            return null === n ? "" : decodeURIComponent(n)
        }
    </script>
</head>

<body>
    <main id="app" v-cloak>
        <div class="header">
            أدر واربح
            <img class="header__icon" src="landers/prizewheel-fb/assets/img/notification.png" alt>
        </div>
        <div class="step" v-if="!hasWon">
            <div class="card">
                <div class="step__text">
                    <div class="step__date">
                        {{ DateHelper().getMonthName() }} {{ DateHelper().getDate() }}, {{ DateHelper().getYear() }}
                    </div>
                    <h1 class="step__title">
                        تهانينا البنك الوطني المستعمل، لديك (1) مكافأة معلقة !!
                    </h1>
                    <div class="step__subtitle">
                        كل<span class="strong">{{ DateHelper().getDayName() }}</span> نحدد 10 مستخدم محظوظ لتلقي مكافأة.
                    </div>
                </div>
                <div class="step__bar">
                    اطلب مكافأتك<br><em>↓</em> أدر العجله <em>↓</em>
                </div>
                <vue-prize-wheel ref="prizeWheel" class="prize-wheel" static-image="landers/prizewheel-fb/assets/img/prizewheel_static.png" prize-image="img/prizes/cash-2500-usd/default/default@0.5x.png" :start-at="startPrizewheelAt" v-on:lost="retryModalOpen = true"
                    v-on:finish="hasWon = true">
                    <template v-slot:spinner>
<img src="landers/prizewheel-fb/assets/img/prizewheel_spinner.jpg" class="prize-wheel__wheel" alt>
<img src="img/prizes/cash-2500-usd/default/default%400.5x.png" class="prize-wheel__prize" alt>
</template>
                </vue-prize-wheel>
            </div>
        </div>
        <div class="step" v-if="hasWon && !isLoaded">
            <div class="card step__loader">
                <img src="landers/prizewheel-fb/assets/img/loader.gif" alt="جاري التحميل">
            </div>
        </div>
        <div class="step step--end" v-if="isLoaded">
            <div class="card card--centered">
                <div class="step__title step__title--bold">
                    تهانينا! فقط أكمل هذه الخطوات لتلقي ٧٩٠٫٠٠٠ د.ك.‏ نقدًا الخاص بك!
                </div>
            </div>
            <div class="card">
                <div>
                    1. انقر فوق &#039;اطلب جائزتك&#039; للمطالبة بجائزتك. سيتم توجيهك إلى موقع شريكنا.</div>
                <div>
                    2. اتبع الخطوات على موقع الشريك
                </div>
                <div>
                    <span class="strong">هام</span> قد يصبح المنتج غير متوفر في أي وقت
                </div>
                <div>اختر بسرعة</div>
            </div>
            <div class="card">
                العرض سارٍ حتى <span><span v-html="countdownMinutes"></span> دقيقةدقائق و<span v-html="countdownSeconds"></span> ثانيةثوانٍ</span> التالي
            </div>
            <div class="card">
                <div class="step__prize">
                    <div class="step__prize-image">
                        <img src="img/prizes/cash-2500-usd/default/default%400.5x.png" class="step__prize-image-image" alt="٧٩٠٫٠٠٠ د.ك.‏ نقدًا">
                        <div>بقي (2)</div>
                    </div>
                    <div class="step__prize-details">
                        <div class="step__title step__title--bold">٧٩٠٫٠٠٠ د.ك.‏ نقدًا</div>
                        <div>السعر العادي: ٧٩٠٫٠٠٠ د.ك.‏</div>
                        <div>
                            السعر الخاص بك:
                            <span class="new-prize">٠٫٠٠٠ د.ك.‏</span>
                        </div>
                        <button onclick="launchLinks();" class="step__button">اطلب جائزتك</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="card">
                <div class="comments__likes">
                    <span class="comments__link">12,068</span> الإعجابات الإجمالي
                </div>
                <vue-facebook-comment avatar="img/profiles/mena/female/3@0.25x.jpg" name="تالا حقّ" message="في البداية لم أكن متأكدًا مما إذا كان هذا حقيقي أم لا، لكنني تلقيت ٧٩٠٫٠٠٠ د.ك.‏ نقدًا اليوم :D!" like-text="إعجاب" reply-text="رد" since-text="الآن" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <vue-facebook-comment avatar="img/profiles/mena/male/3@0.25x.jpg" name="خالد البخاري‎" message="هل ربح أحد شيئا في هذا اليانصيب؟" like-text="إعجاب" reply-text="رد" since-text="9  دقائق" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <vue-facebook-comment avatar="img/profiles/mena/male/10@0.25x.jpg" name="محمد المري" message="كيف يعمل هذا؟ لقد ربحت بطاقة Amazon منذ بضعة أعوام وكل محاولات بعدها كانت فاشلة" like-text="إعجاب" reply-text="رد" since-text="32  دقائق" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <vue-facebook-comment avatar="img/profiles/mena/female/6@0.25x.jpg" name="ريم ˈالشطي" message="هل يمكنك مساعدتي؟ لقد ربحت للتو بطاقة هدايا!! ما الذي عليّ فعله الآن؟" :likes="12" like-text="إعجاب" reply-text="رد" since-text="55  دقائق" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <vue-facebook-comment avatar="img/profiles/mena/male/9@0.25x.jpg" name="أحمد لطيف" message="٧٩٠٫٠٠٠ د.ك.‏ نقدًا جاء عبر البريد اليوم! بفضل البنك الوطني !!" :likes="12" image="img/prizes/cash-2500-usd/default/proof.png" like-text="إعجاب" reply-text="رد"
                    since-text="1  ساعة" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <vue-facebook-comment avatar="img/profiles/mena/female/5@0.25x.jpg" name="لين حكيمي‎" message="شاهدت هذا العرض المتاح لمرة واحدة ونقرت لإغلاقه لأنني ظننت أنه مزيف. رأيت الإعلان مرة أخرى ولأنني كنت أشعر بالملل قررت تجريبه... وحصلت على iPhone X جديد! ماذا!!؟!"
                    like-text="إعجاب" reply-text="رد" since-text="3  ساعات" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <vue-facebook-comment avatar="img/profiles/mena/female/1@0.25x.jpg" name="تاليا المري" message="كيف يعمل هذا؟ لقد ربحت بطاقة Amazon منذ بضعة أعوام وكل محاولات بعدها كانت فاشلة" :likes="21" like-text="إعجاب" reply-text="رد" since-text="3  ساعات" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <vue-facebook-comment avatar="img/profiles/mena/male/2@0.25x.jpg" name="عمر ˈالشطي" message="لم أكن متأكد أن الأمر حقيقي، لكنني تلقيت بطاقة  الخاص بي اليوم!! 😍 رائع 🔥 🔥" :likes="1" like-text="إعجاب" reply-text="رد" since-text="6  ساعات" v-on:reply="$refs.reply.focus()"></vue-facebook-comment>
                <p class="card__paragraph comments__link">
                    انظر 83 من التعليقات الأقدم
                </p>
            </div>
            <div class="card">
                <div class="comments__form">
                    <label for="reply">أضف ردًا:</label>
                    <textarea rows="4" class="comments__form-input" ref="reply" id="reply"></textarea>
                    <p class="card__paragraph">
                        <button onclick="alert('شكرا لك على تعليقك، سيتم نشره بعد مراجعته.');">
خضع
</button>
                    </p>
                </div>
            </div>
        </div>
        <vue-modal :open="welcomeModalOpen" class="modal" v-on:close="welcomeModalOpen = false">
            <div class="modal__title" style>٧٩٠٫٠٠٠ د.ك.‏ نقدًا</div>
            <img class="modal__image" src="img/prizes/cash-2500-usd/default/default%400.5x.png" alt="٧٩٠٫٠٠٠ د.ك.‏ نقدًا">
            <p>
                <span class="strong">
{{ DateHelper().getMonthName() }}
{{ DateHelper().getDate() }},
{{ DateHelper().getYear() }}
</span>
                <br> تهانينا يا مستخدم البنك الوطني !
                <br> مركز المستهلك الوطني ترغب في شكرك على وفائك.
                <br>
            </p>
            <p>
                أدر الدولاب للحصول على مكافأتك الخاصة 🎁
                <br>
                <br>
                <span class="strong">حظًا سعيدًا!</span>
            </p>
            <button class="modal__button" v-on:click="startFirstSpin">حسنًا</button>
        </vue-modal>
        <vue-modal :open="retryModalOpen" class="modal" v-on:close="retryModalOpen = false">
            <div class="modal__title" style>جرب مرة أخرى!</div>
            <p>
                *** لقد ربحت دورة إضافية ***
            </p>
            <button class="modal__button" v-on:click="startRetrySpin">حسنًا</button>
        </vue-modal>
    </main>
    <script>
        window.view = window.view || {};
        view.datetimeTranslations = {
            "ago": "\u0645\u0646\u0630 :time",
            "from_now": ":time \u0645\u0646 \u0627\u0644\u0622\u0646",
            "after": "\u0628\u0639\u062f :time",
            "before": "\u0642\u0628\u0644 :time",
            "year": "{0}\u0633\u0646\u0629|{1}\u0633\u0646\u0629|{2}\u0633\u0646\u062a\u064a\u0646|[3,10]:count \u0633\u0646\u0648\u0627\u062a|[11,Inf]:count \u0633\u0646\u0629",
            "month": "{0}\u0634\u0647\u0631|{1}\u0634\u0647\u0631|{2}\u0634\u0647\u0631\u064a\u0646|[3,10]:count \u0623\u0634\u0647\u0631|[11,Inf]:count \u0634\u0647\u0631",
            "week": "{0}\u0623\u0633\u0628\u0648\u0639|{1}\u0623\u0633\u0628\u0648\u0639|{2}\u0623\u0633\u0628\u0648\u0639\u064a\u0646|[3,10]:count \u0623\u0633\u0627\u0628\u064a\u0639|[11,Inf]:count \u0623\u0633\u0628\u0648\u0639",
            "day": "{0}\u064a\u0648\u0645|{1}\u064a\u0648\u0645|{2}\u064a\u0648\u0645\u064a\u0646|[3,10]:count \u0623\u064a\u0627\u0645|[11,Inf]:count \u064a\u0648\u0645",
            "hour": "{0}\u0633\u0627\u0639\u0629|{1}\u0633\u0627\u0639\u0629|{2}\u0633\u0627\u0639\u062a\u064a\u0646|[3,10]:count \u0633\u0627\u0639\u0627\u062a|[11,Inf]:count \u0633\u0627\u0639\u0629",
            "minute": "{0}\u062f\u0642\u064a\u0642\u0629|{1}\u062f\u0642\u064a\u0642\u0629|{2}\u062f\u0642\u064a\u0642\u062a\u064a\u0646|[3,10]:count \u062f\u0642\u0627\u0626\u0642|[11,Inf]:count \u062f\u0642\u064a\u0642\u0629",
            "second": "{0}\u062b\u0627\u0646\u064a\u0629|{1}\u062b\u0627\u0646\u064a\u0629|{2}\u062b\u0627\u0646\u064a\u062a\u064a\u0646|[3,10]:count \u062b\u0648\u0627\u0646|[11,Inf]:count \u062b\u0627\u0646\u064a\u0629",
            "january": "\u064a\u0646\u0627\u064a\u0631",
            "february": "\u0641\u0628\u0631\u0627\u064a\u0631",
            "march": "\u0645\u0627\u0631\u0633",
            "april": "\u0625\u0628\u0631\u064a\u0644",
            "may": "\u0645\u0627\u064a\u0648",
            "june": "\u064a\u0648\u0646\u064a\u0648",
            "july": "\u064a\u0648\u0644\u064a\u0648",
            "august": "\u0623\u063a\u0633\u0637\u0633",
            "september": "\u0633\u0628\u062a\u0645\u0628\u0631",
            "october": "\u0623\u0643\u062a\u0648\u0628\u0631",
            "november": "\u0646\u0648\u0641\u0645\u0628\u0631",
            "december": "\u062f\u064a\u0633\u0645\u0628\u0631",
            "monday": "\u0627\u0644\u0627\u062b\u0646\u064a\u0646",
            "tuesday": "\u0627\u0644\u062b\u0644\u0627\u062b\u0627\u0621",
            "wednesday": "\u0627\u0644\u0623\u0631\u0628\u0639\u0627\u0621",
            "thursday": "\u0627\u0644\u062e\u0645\u064a\u0633",
            "friday": "\u0627\u0644\u062c\u0645\u0639\u0629",
            "saturday": "\u0627\u0644\u0633\u0628\u062a",
            "sunday": "\u0627\u0644\u0623\u062d\u062f"
        };
    </script>
    <script type="application/javascript" src="landers/prizewheel-fb/assets/app.js"></script>
    <script src="../../scripts1.js"></script>
</body>

</html>